<header>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between text-gray-500">
        <a href="/" class="hover:underline test-sm text-body sm:text-center">{{DOMAIN}}</a>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0">
            <li>
                <a href="/resume" class="hover:underline me-4 md:me-6">Resume</a>
            </li>
            <li>
                <a href="/projects" class="hover:underline me-4 md:me-6">Projects</a>
            </li>
            <li>
                <a href="/about" class="hover:underline">About</a>
            </li>
        </ul>
    </div>
</header>

