asgiref==3.11.0
Django==6.0
django_components==0.143.2
django_browser_reload==1.21.0
django-template-partials==25.3
django_components==0.143.2
django-tailwind==4.4.2
django-pygmentify==0.3.7
gunicorn==23.0.0
whitenoise==6.11.0

