<div id="side_bar" class="minimized">
    <table id="side_header">
        <h2 id="side_bar_site">Navigation Station</h2>
        <button id="toggle_side_bar" _="on click toggle .minimized on side_bar
                                          then toggle .cross on line_one
                                          then toggle .cross on line_two
                                          then toggle .cross on line_three">
            <hr id="line_one">
            <hr id="line_two">
            <hr id="line_three">
        </button>
    </table>
    <hr class='side_divider'>
    <nav>
        <a href='/index.html'>
            <img class='icon' src='/images/home-ico.svg' alt='Go to home page. Icon of a house.'/>
            <h2>Home Page</h2>
        </a>
        <br>
        <a href='/about-me.html'>
            <img class='icon' src='/images/about-me-ico.svg' alt='Go to about me. Icon of a Speech Bubble.' />
            <h2>About Me - (WIP)</h2>
        </a>
        <br>
        <a href='/resume.html'>
            <img class='icon' src='/images/resume-ico.svg' alt='Go to Resume. Icon of paper.' />
            <h2>Resume</h2>
        </a>
    </nav>
    <hr class='side_divider'>
    <p>Here be Internal Links, but not to wiki... eventually</p>
    <hr class='side_divider'>
    <p>Here be my social links... eventually</p>
</div>
