{% extends 'base.html' %}
{% load pygmentify_tags %}

{% block add_css %}
    <link rel="stylesheet" href="{% pygmentify_css 'monokai' %}">
{% endblock %}

{% block content %}
<div class='md:max-w-max lg:max-w-3/5 text-gray-300'>
    <h1 class="text-center m-4 text-4xl font-semibold tracking-tight text-balance text-white sm:text-7xl">
        {% block project_title %}{% endblock %}
    </h1>
    <hr class="border-gray-300">
    <div class="text-center">
        <h2 class="text-md text-gray-400 mb-3">{% block project_date %}{% endblock %} | {% block project_domain %}{% endblock %}</h2>
    </div>
    {% block project_body %}
    {% endblock %}
</div>
{% endblock %}

