{% extends 'base.html' %}
{% load partials %}

{% block title %}My projects{% endblock %}

{% partialdef project_card %}
<li class="bg-gray-700 rounded-md w-50 h-50 transition duration-300 ease-in-out hover:scale-120 min-w-1/2">
    <a href="{% url link %}" class="flex size-full place-items-center">
        <p class="text-3xl text-center w-full">
            {{ label }}
        </p>
    </a>
</li>
{% endpartialdef %}


{% block content %}
<h1 class="text-gray-200 font-bold m-10 text-5xl">My projects</h1>
<nav class="md:max-w-max lg:max-w-4/5 w-full place-items-center">
    <ul class="grid gap-6 text-gray-300 font-bold size-full place-items-center">
        {% with label="Homelab" link="projects:homelab" %}
            {% partial project_card %}
        {% endwith %}

        {% with label="Computer Science 2 Grading" link="projects:cs2-grading" %}
            {% partial project_card %}
        {% endwith %}

        {% with label="This website" link="projects:mainsite" %}
            {% partial project_card %}
        {% endwith %}

        {% with label="Automated Installation Troubleshooting and Remidiation" link="projects:installation-troubleshooting" %}
            {% partial project_card %}
        {% endwith %}
   </ul>
</nav>
{% endblock %}

