body {
  background-color: #333333;
  font-family: "Lato", sans-serif;
  width: 100%;
}

nav {
  top: 10px;
  left: 0;
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  width: 500px;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: black;
  border: none;
  font-size: 12pt;
}

hr {
  height: 5px;
  width: 90%;
  background-color: grey;
  border: none;
  border-radius: 5px;
}

hr.small_divider {
  height: 3px;
  width: 65%;
}
hr.side_divider {
  background-color: black;
  margin-top: 10px;
}

div.normal {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img.icon {
    float: left;
    height: 1.5cm;
    width: 1.5cm;
    margin: 5px;
    margin-right: 15px;
}

#side_bar {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;
  width: 320px;

  background-color: #DEDEDE;
  overflow-x: hidden;
  padding-top: 10px;

  padding: 5px;

  z-index: 1;
  transition: 0.6s;
  border-left: 5mm ridge #BCBCBC;
}

#content {
  width: 1000px;
  top: 30px;
  left: 10%;
  right: 10%;
  background-color: #DEDEDE;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  border-radius: 25px;
}

#side_header {
  position: relative;
  float: right;
  top: 0;
  right: 0;
  width: 8cm;
  height: 2cm;
  overflow: hidden;
  text-align: center;
}

#toggle_side_bar {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 1.2cm;
  height: 1.2cm;
  overflow: hidden;
  z-index: 2;
  display: inline-block;
}

#side_bar_site {
  position: absolute;
  top: 10px;
  right: 80px;
  overflow: hidden;

  height: 1cm;
  width: 7cm;
  text-align: right;
  display: inline-block;
}

#toggle_side_bar hr {
  width: 60%;
  display: inline-block;
  background-color: black;
  transition: 0.6s;
  transform: rotate(0deg);
  position: absolute;
  left: 22%;
}

#line_one {
  top: 10%;
}
#line_two {
  top: 30%;
}
#line_three {
  top: 50%;
}
#line_one.cross {
  transform: rotate(-45deg) !important;
  top: 30% !important;
}
#line_two.cross {
  width: 0% !important;
  left: 50% !important;
}
#line_three.cross {
  transform: rotate(45deg) !important;
  top: 30% !important;
}

.hidden {
  visibility: hidden;
}

.minimized {
  width: 70px !important;
  border-left: 2mm ridge #BCBCBC !important;
}
