{% extends 'base.html' %}

{% block title %}
<title>404 - Not Found</title>
{% endblock %}
{% block content %}
<div class="text-center">
    <p class="text-base font-semibold text-indigo-400">404</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl">Page not found</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">Sorry, I couldn't find the page "{{request.get_full_path}}".</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Go back home</a>
        <a href="mailto:{{ EMAIL.CONTACT }}?subject=Unexpected%20404%20page%20%22{{request.path}}%22" class="text-sm font-semibold text-white">Let Me Know<span aria-hidden="true">&rarr;</span></a>
    </div>
</div>
{% endblock %}

