{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
<div class="md:max-w-max lg:max-w-4/5">
    <h1 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-white sm:text-7xl">About Matthew Roland</h1>
    <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
        Hello, I am Matthew Roland. A recent graduate of Cybersecurity from Omaha's version of Nebraska's state college. I have grown up around Omaha my whole life. While my formal education is in cybersecurity, it would be wrong for me to not mention my favorite programming languages.
        Of course, I am obligated to mention Rust. The programming language I am currently most familiar with Python. My particular favorite enjoyment of python is how it seemingly lets me do anything I want (perhaps to a dangerous amount) even if it doesn't fully make sense.
        It's private, but really public systems has enabled me to test the implementation of student code while I was working as a grader at UNO. While I hope I never use the techniques I learned to grade student code, I love the practice that the particular challenge of grading provided to me.
    </p>
    <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
        I have a particular interest in quantum cryptography and computation. While, unfortunately, I do not own any quantum technology (except a light bulb if you consider that), I do love learning about the smallest possible packets of information that provide us with computation and secrecy (and of course existence).
        As a cybersecurity professional, Peter Shor's and Luv Grover's work is a particular interest to me. While I don't have a favorite encryption algorithm, ML-KEM (formerly CRYSTALS-Kyber, unfortunate to lose such a good name) is definitely up there for me.
    </p>
    <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
        All of my devices are currently running Fedora as it is my favorite flavor of the GNU/Linux Operating systems.
    </p>
</div>
{% endblock %}

