{% extends 'base.html' %}
{% load component_tags %}

{% block title %}Home{% endblock %}

{% block banner %}
{% component "wip" / %}
{% endblock %}

{% block content %}
<div class="text-center md:max-w-max lg:max-w-4/5">
    <h1 class="mt-4 text-4xl font-semibold tracking-tight text-balance text-white sm:text-7xl">Matthew Roland's Site</h1>
    <p class="mt-10 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">Welcome to my personal website! This is currently a work in progress. Please forgive any oddities.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="{{ LINK.GITHUB }}" target="_blank" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">GitHub</a>
        <a href="{{ LINK.LINKED_IN }}" target="_blank" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">LinkedIn</a>
    </div>
</div>
{% endblock %}

