{% load static tailwind_tags %}
<!doctype html>
<html lang='en'>
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% tailwind_css %}
    </head>
    <body>
        <div id="main">
            <h1>Matthew's Site</h1>
            <hr>
            <p>Welcome to my personal website! Currently, this is a work in progress. Please forgive any weirdness.</p>
            <p>There's not too much going on here, so I recommend in the meantime to check out <a href="https://github.com/mqttr" target="_blank">my GitHub</a></p>
        </div>
    </body>
</html>

