<!doctype html>
{% load static %}
<html lang='en'>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="main">
            <h1>Matthew's Site</h1>
            <hr>
            <p>Welcome to my personal website! Currently, this is a work in progress. Please forgive any weirdness.</p>
            <p>There's not too much going on here, so I recommend in the meantime to check out <a href="https://https://github.com/mqttr" target="_blank">my GitHub</p>
        </div>
    </body>
</html>

