{% extends 'base.html' %}

{% block title %}
<title>My projects</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-white sm:text-7xl">
            Projects
        </h1>
        <p class="mt-10 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
            This is a curated selection of my most favorite and prized projects to date. Of course, in no particular order, as how could I chose between them? While the specific code might not be
            <a href="{{LINK.GITHUB}}" class="underline">open-sourced</a>
            for all of these, feel free to 
            <a href="mailto:{{ EMAIL.CONTACT }}?subject=Project%20Intrigue" class="underline">reach out to me</a>
            and I would be happy to discuss any of my projects!
        </p>
        <h2 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-gray-300 sm:text-4xl">
            Homelab
        </h2>
        <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
            By far one of my most proud projects is my homelab. Currently running on an old Dell Optiplex in the corner of my room; it hosts a wide variety of open-source services and services written by yours truly, all containerized for easy transport. I even hosted some of my
            <a href="{{LINK.SELFHOSTED.VERSION_CONTROL_SYSTEM}}" class="underline">own OCI images on my self-hosted Forgejo instance</a>
            for easy configuration! Now while I am quite a bit proud of a lot of these projects I got working, I am particularly proud of my 
            <a href="{{LINK.SELFHOSTED.VERSION_CONTROL_SYSTEM}}" class="underline">Forgejo</a> (with CI/CD workflows!),
            <a href="{{LINK.DOMAIN}}" class="underline">this website you see here</a>,
            my configuration for my OIDC provider (Pocket-ID - which I will not link, though I will happily discuss), and my proxied Minecraft server that I host for my friends and family (also not linked).
        </p>
        <h2 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-gray-300 sm:text-4xl">
            Dotfiles
        </h2>
        <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
            One of the things that I have been absolutely loving since moving to Linux away from Microsoft's operating system, is the motivation to write my own dotfiles.
            It has required and enabled me to learn a lot about better options for the various software that I use daily. It's dramatically improved my quality of life and has been insanely fun.
        </p>
        <h2 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-gray-300 sm:text-4xl">
            Automatic Grading Python Scripts
        </h2>
        <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
            While regrettably not open-source due to privacy and academic honesty concerns, I am still insanely proud of this category of scripts.
        </p>
        <h2 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-gray-300 sm:text-4xl">
            Python Scripts to Automate Menial Work
        </h2>
        <p class="mt-5 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">
            At this point, it should be somewhat clear that I love Python. This website was built in Python; it's the first language I reach for. If Rust didn't exist, Python would absolutely be my favorite programming language.
        </p>
    </div>
{% endblock %}

