{% extends 'projects/base.html' %}
{% load pygmentify_tags %}

{% block title %}CS2 Grading{% endblock %}

{% block project_title %}Computer Science 2 Automated Grading{% endblock %}
{% block project_date %}Aug 2023 - Dec 2025{% endblock %}
{% block project_domain %}University of Nebraska Omaha{% endblock %}

{% block project_body %}
<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    While regrettably not open-source due to privacy and academic honesty concerns, I am still insanely proud of these series of Python scripts.
</p>
<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    These scripts were a fantastic and unique challenge.
    More so, as these assignments were quite varied the challenges of grading each assignment was also equally as varied.
    For most of these assignments, specific implementation details were not specified. This led to students also submitting difficult to test code programmatically.
    So for these assignments, I usually resolved to observing behaviors of the students' code, testing the very breaking points of the code and usually compared to how the professor's reference program reacted. All other things that I couldn't programmatically test in this way, I would have to read the student's submission.
</p>
<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    However, for some of the later assignments, as the specific implementation and function details were more defined in the assignment instructions, I wanted to see if I could test the implementation details of a students code using Python, as opposed to reading and parsing the student's submission manually.
</p>
<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    This led me to create such <span class="line-through">cursed</span> beautiful tests similar to the one below.
</p>

{% pygmentify 'monokai' %}
<pre class="python mt-5 mb-5 bg-gray-800 p-5 pt-2 pb-2">
def test_bound_harcoded(self):
    try:
        for name in ('MAX_VOLUME', 'max_volume'):
            if getattr(sut, name, None) is not None: setattr(sut, name, 5)
        tv = sut()
        tv.power()
        assert_state(tv, True, 0, 0)
        tv.volume_up()
        assert_state(tv, True, 0, 1)
        tv.volume_up()
        assert_state(tv, True, 0, 2)
        tv.volume_up()
        assert_state(tv, True, 0, 3)
        tv.volume_up()
        assert_state(tv, True, 0, 4)
        tv.volume_up()
        assert_state(tv, True, 0, 5)
        tv.volume_up()
        assert_state(tv, True, 0, 5)
    except Exception as e:
        raise e
    finally:
        for name in ('MAX_VOLUME', 'max_volume'):
            if getattr(sut, name, None) is not None: setattr(sut, name, 2)
        </pre>
{% endpygmentify %}

<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    Plus, because of the <span class="line-through">weird</span> awesome quirks of Python. We can get the docstrings and type annotations of functions and objects programmatically at runtime:
</p>

{% pygmentify 'monokai' %}
    <pre class="python mt-5 mb-5 bg-gray-800 p-5 pt-2 pb-2">
assert typing.get_type_hints(sut.mute).get('return', None) is None
assert sut.__annotations__.get('MIN_CHANNEL', None) is None
    </pre>
{% endpygmentify %}

<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    And we can even check for visibility (even for private variables) using Python's
    <a href="https://www.geeksforgeeks.org/python/name-mangling-in-python/" class="underline">
        variable name mangling</a>.
</p>

{% pygmentify 'monokai' %}
    <pre class="python mt-5 mb-5 bg-gray-800 p-5 pt-2 pb-2">
assert any(getattr(tv, name, None) is not None for name in ('_Television__status', '_status'))
assert all(getattr(tv, name, None) is None for name in ('status'))
    </pre>
{% endpygmentify %}

<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    I would say all of the above snippets of code are pretty bad practice in real world uses. Test suites generally should <i>not</i> check how something gets done, but that it does. However, because of this specific use case of needing to verify how the code works, like checking for hard-coded values, annotations, docstrings, and visibility, I am not sure of any other way of solving this. <i>Of course</i>, one could parse the student's python files, but forcing Python to do it was <i>substantially</i> easier.
</p>

{% endblock %}

