<h2 class="text-center mt-4 text-4xl font-semibold tracking-tight text-balance text-gray-300 sm:text-4xl">
    Dotfiles
</h2>
<p class="mt-5 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
    One of the things that I have been absolutely loving since moving to Linux away from Microsoft's operating system, is the motivation to write my own dotfiles.
    It has required and enabled me to learn a lot about better options for the various software that I use daily. It's dramatically improved my quality of life and has been insanely fun.
</p>

