{% extends 'projects/base.html' %}
{% load pygmentify_tags %}

{% block title %}Installation Troubleshooting{% endblock %}

{% block project_title %}Automated Installation Troubleshooting and Remediation{% endblock %}
{% block project_date %}Aug 2024 - Current{% endblock %}
{% block project_domain %}<a href="https://www.up.com/" class="underline">Union Pacific Railroad</a>{% endblock %}

{% block project_body %}
<p class="text-gray-300 text-lg">
    Work in progress. In the meantime take a look around! This one you can see the outcome!
</p>
{% endblock %}

