{% extends 'projects/base.html' %}
{% load pygmentify_tags %}

{% block title %}Installation Troubleshooting{% endblock %}

{% block project_title %}Automated Installation Troubleshooting and Remediation{% endblock %}
{% block project_date %}Aug 2025 - Jan 2026{% endblock %}
{% block project_domain %}<a href="https://www.up.com/" class="underline">Union Pacific Railroad</a>{% endblock %}

{% block project_body %}
<p class="text-lg">
    At Union Pacific, my primary goal was to help end users with various software installation-related issues.

    UP has their own internally-rolled automatic installation service. A quirk, either better or for worse, of this service 

    <i>More common than naught</i>, 
</p>
{% endblock %}

