{% extends 'projects/base.html' %}
{% load pygmentify_tags %}

{% block title %}This website{% endblock %}

{% block project_title %}This website{% endblock %}
{% block project_date %}Dec 2025 - Current{% endblock %}
{% block project_domain %}<a href="{{ LINK.SELFHOSTED.VERSION_CONTROL_SYSTEM }}/mqttr/www" class="underline">Personal</a>{% endblock %}

{% block project_body %}
<p class="text-lg">
    n the meantime take a look around or <a href="{{ LINK.SELFHOSTED.VERSION_CONTROL_SYSTEM }}/mqttr/www">take a peek at the source code</a>! This one you can see the outcome in its full glory!
</p>
{% endblock %}

