{% extends 'projects/base.html' %}
{% load pygmentify_tags %}

{% block title %}This website{% endblock %}

{% block project_title %}This django website{% endblock %}
{% block project_date %}Dec 2025 - Current{% endblock %}
{% block project_domain %}<a href="https://git.mro.land/mqttr/www" class="underline">Personal</a>{% endblock %}

{% block project_body %}
<p class="text-gray-300 text-lg">
    Work in progress. In the meantime take a look around! This one you can see the outcome!
</p>
{% endblock %}

